<div class="row">
    <div class="small-offset-3 small-6 columns">
        <br>
        <h4 class="center">Entity lookup</h4>
        <form onsubmit="return false">
            <div class="row">
                <div class="large-12 columns">
                    {{entity-search-box}}
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="small-offset-3 small-6 columns">
        <h5 class="center">or</h5>
        {{class-lookup}}
    </div>
</div>
