<label>
    <select class="variable-select" data-placeholder="Select a variable">
        {{#each displayedOptions as |opt|}}
            <option value="{{opt.value}}"
                    selected="{{if opt.selected "selected"}}"
                    disabled="{{if opt.disabled "disabled"}}">
                {{opt.text}}
            </option>
        {{/each}}
    </select>
</label>
