<br>
<div class="row">
    <div class="small-12 columns">
        <h3 class="center">Status
            <span class="small">
                (<i class="fa fa-spinner fa-spin"></i>)
            </span>
        </h3>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <div class="row panel">
            <div class="row">
                <div class="small-12 columns">
                    <div class="row">
                        <div class="small-6 columns">
                            <h5>Process Plan Records (<i class="fa fa-spinner fa-spin"></i>)</h5>
                            <ul>
                                <li>Processes: (<i class="fa fa-spinner fa-spin"></i>)</li>
                                <li>Agents: (<i class="fa fa-spinner fa-spin"></i>)</li>
                                <li>Artifacts: (<i class="fa fa-spinner fa-spin"></i>)</li>
                                <li>Test Value Bearers: (<i class="fa fa-spinner fa-spin"></i>)</li>
                                <li>Sub-processes: (<i class="fa fa-spinner fa-spin"></i>)</li>
                            </ul>
                        </div>
                        <div class="small-6 columns">
                            <h5>Process Records (<i class="fa fa-spinner fa-spin"></i>)</h5>
                            <ul>
                                <!--<li>Process Runs: (<i class="fa fa-spinner fa-spin"></i>)</li>-->
                                <li>Agents: (<i class="fa fa-spinner fa-spin"></i>)</li>
                                <li>Artifacts: (<i class="fa fa-spinner fa-spin"></i>)</li>
                                <li>Test Value Bearers: (<i class="fa fa-spinner fa-spin"></i>)</li>
                                <li>Sub-processes: (<i class="fa fa-spinner fa-spin"></i>)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
